html, body {
    background-color: #fff;
    /* color: #636b6f; */
    font-family: "Open Sans", "Roboto", sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.navbar-toggler-icon {
    width: 1em !important;
    height: 1em !important;
}
.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: transparent !important;
    margin-top: -10px;
}
.nav-content{
    background: #0D7BE5;
    z-index: 200;
    height: 70px;
    padding: 0 3rem 0 3rem;
}
.navbar-nav li{
    margin: 10px;
}
.branded{
    height: 40px;
}
.btn-light, .btn-light:hover{
    color: #0D7BE5 !important;
    font-weight: 600 !important;
}
.nav-item{
    font-weight: 600 !important;
}

.nav-item:hover, .nav-link:hover{
    /* transition: transform .2s !important;
    transform: scale(1.01) !important; */
    font-weight: 600 !important;
}
.homepage{
  display: none;
}
.closer{
    display: none;
    border: none !important;
}
.closer .nav-link{
    border: none !important;
    font-size: 40px;
}
@media (max-width: 850px){
    .branded{
        height: 20px;
    }

    .navbar-brand{
        padding-top: 0 !important
    }
    .navbar-brand .nav-link{
        padding-top: 0 !important
    }

    .nav-content{
        background: #0D7BE5;
        z-index: 200;
        height: 50px;
        padding: 0 1rem 0 1rem;
    }
    button .navbar-toggler{
        padding-top: 0 !important;
    }
	.navbar-collapse{
        background-color: rgba(13, 125, 229, 0.945);
        min-height: 100vh;
        min-width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        overflow: hidden;
    }

    .navbar-collapse .closer{
        padding: 100px 0 50px;
        display: block;
        color: azure;
    }
    .homepage{
      display: block;
    }
    .navbar-collapse .nav-item .nav-link{
        border: 2px solid #dddddd39;
        border-radius: 10px;
    }

    .navbar-collapse .nav-item .nav-link:hover{
        border: 2px solid #ffd90139;
        border-radius: 10px;
    }

    .menus-expand{
        background-color: transparent;
        color: #fff !important;
    }
}

@media (max-width: 200px){
	.navbar-collapse{
        background-color: rgba(13, 125, 229, 0.945);
        min-height: 100vh;
        min-width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        overflow: hidden;
    }
    .homepage{
      display: block;
    }
    .navbar-collapse .close{
        color: azure;
        display: block !important;
    }
    .navbar-collapse .nav-item .nav-link{
        border: 2px solid #dddddd39;
        border-radius: 10px;
    }

    .navbar-collapse .nav-item .nav-link:hover{
        border: 2px solid #ffd90139;
        border-radius: 10px;
    }

    .menus-expand{
        background-color: transparent;
    }
    .nav-content{
      background: #0D7BE5;
      z-index: 200;
      height: 50px;
      padding: 0 1rem 0 1rem;
    }
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.footer-part{
  padding: 0rem 5rem 0rem 5rem;
}
.footerCredit{
	width: 150px;
	text-align: left
}

.img-tumbs{
    min-width: 35px;
    max-width: 35px;
	margin: 10px 10px 0 0;
}

.img-tumbs:hover{
    transition: transform .5s !important;
	transform: scale(1.1) !important
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-weight: 600;
  margin-top:5px;
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }

  .footer-part{
    padding: 0rem 2rem 0rem 2rem;
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}


/* home */
.font-hero{
    font-weight: 700 !important;
    font-size: 50px;
}
strong{
	font-weight: 700 !important
}
.font-subhero{
    font-weight: 900 !important;
    font-size: 25px;
}
.font-title{
    font-size: 30px;
}
.text-desc{
	font-size: 12px;
}
.text-slider-items{
	display: none
}
.font-secondary{
    font-weight: 500;
    font-size: 18px;
    color: #ffc502
}
.font-primary{
    font-size: 14px;
}

.hero {
    /* background:url('../../assets/img/vectorBg.png') no-repeat center; */
    background-size: cover;
    min-height: 50rem;
	background-color: #0D7BE5;
	/* background-position-y: -10vh; */
	padding: 11em 5em 0 5em;
}
.hero-part{
	animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.hero-paid img{
	width: 100%;
}

.home-image{
    min-width: 70%
}

.use-part {
    background:url('../../assets/img/bg-usefull.svg') no-repeat center;
    background-size: cover;
    height: 40rem;
	background-color: #ffffff;
	padding: 100px 5rem 0 5rem;
	background-position-y: -20rem;
}
.use-part-title{
	margin-bottom: 30px;
}

.cardList{
	margin-bottom: 150px;
}
.carder{
	padding: 0 30px 0 30px;
}

.ease{
	height: 40rem;
	padding: 50px 5rem 0 5rem;
}
.ease-title{
	height: 5rem;
}
.ease img{
	width: 80%;
}
.btn-start{
	margin-top: 20px;
}

hr{
	height: 5px;
	width: 100px;
	background: #F4BE0B;
	border-radius: 50px;
}

.btn-outline-warning{
	border: 2px solid #F4BE0B;
}

.text-white{
	color: #fff !important;
}

.text-white:hover{
	color: #222 !important;
}

.gmbr{
	min-height: 150px;
	max-height: 150px;
	max-width: 100%;
	padding: 20px
}

.card{
	border-radius: 10px;
	min-height: 310px;
}
.card:hover{
	transition: transform .6s !important;
	transform: scale(1.01) !important;
}

.font-smaller:hover{
    color: #F4BE0B !important;
    text-decoration: none;
    transform: scale(1.02) !important;
}

.footer{
    background: url('../../assets/img/footer.svg') no-repeat center;
    background-size: cover;
    min-height: 30rem;
	background-position-y: 10px;
}
.part-foot{
    padding-top: 200px;
}


@media (max-width: 900px) {
	.font-hero{
		font-weight: 700;
		font-size: 30px;
	}
	.font-title{
		font-size: 20px;
	}
	.hero {
		min-height: 30rem;
		background-color: #0D7BE5;
		padding: 5em 0 0 0;
}
	.hero-part{
    	padding: 30px;
	}
	.hero-paid{
		display: none;
	}
	.use-part {
		height: 90rem;
		padding: 30px 0rem 0 0rem;
		background-position-y: 0rem;
	}
	.use-part-title{
		margin-bottom: 0px;
	}

	.cardList{
		margin-bottom: 150px;
	}
	.carder{
		padding: 0 50px 0 50px;
	}

	.ease{
		height: 25rem;
		padding: 1rem;
		margin-bottom: 5rem;
	}
	.ease-title{
		height: 5rem;
	}
	.ease img{
		display: none;
	}

	hr{
		height: 5px;
		width: 100px;
		background: #F4BE0B;
		border-radius: 50px;
	}

	.btn-outline-warning{
		border: 2px solid #F4BE0B;
	}

	.text-white{
		color: #fff !important;
	}

	.text-white:hover{
		color: #222 !important;
	}


	.card{
		border-radius: 10px;
		min-height: 50px;
	}

	.card:hover{
		transition: transform .6s !important;
		transform: scale(1.01) !important;
	}

	.font-smaller:hover{
		color: #F4BE0B !important;
		text-decoration: none;
		transform: scale(1.02) !important;
	}
	.footer{
		background-size: cover;
		min-height: 20rem;
	}
	.part-foot{
    	padding-top: 100px;
	}

}
